flask==2.0.1
gunicorn==20.1.0
gevent==21.8.0
gevent-websocket==0.10.1
pymysql==1.0.2
redis==4.0.2
paramiko==2.8.0
sqlalchemy==1.4.27
flask-sqlalchemy==2.5.1
elastic-apm[flask]==6.7.0
apache-skywalking==0.7.0
# asyncio==3.4.3
pillow==8.4.0
psutil==5.8.0
apscheduler==3.8.1
Werkzeug~=2.0.1
ansible~=4.10.0
asyncio~=3.4.3